// Most CSS values were referenced from the original elements using developer tools!!!

body, div, span, a, img, form {
    margin: 0;
    padding: 0;
    border: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    vertical-align: baseline;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;

    h1 {
        margin: inherit;
        padding: inherit;
        border: inherit;
        float: left;
        display: inline-block;
        min-width: 167px;
        width: 16%;
        font-size: 16px;
        min-height: 42px;
        font-weight: 500;
        color: #333;
        vertical-align: middle;
    }

}

.container {
    width: 100%;
    clear: both;

    .textbarcell {
        float: left;
        display: inline-block;
        min-width: 167px;
        min-height: 41px;
        vertical-align: middle;
        width: 50%;

        input[type=text] {
            width: 100%;
            text-align: left;
        }
    }

    .prompts {
        clear: both;
        float: left;
        display: inline-block;
        min-width: 167px;
        width: 16%;
        height: 42px;
        color: #222;
        font-size: 13px;
        line-height: 16px;
        vertical-align: middle;
    }

    .promptcell {
        height: 30px;
        display: table-cell;
        vertical-align: middle;
    }

    .descriptioncell {
        float: left;
        display: inline-block;
        width: 32%;
        min-width: 160px;
        margin: 0 0 8px 1%;
        color: #555;
        font-size: 11px;
        padding-left: 5px;
        vertical-align: middle;
        position: relative;

        .specialchars {
            color: #666;
            font-family: monospace;
            font-size: 11px;
            white-space: pre;
        }
    }
}

.textinput {
    border-radius: 1px;
    border: 1px solid #d9d9d9;
    border-top: 1px solid #c0c0c0;
    font-size: 13px;
    height: 25px;
    padding: 1px 8px;
}

.button {
    line-height: 100%;
    height: 30px;
    min-width: 120px;
    border-radius: 2px;
    font-size: 11px;
    font-weight: bold;
    text-align: center;
    outline: 0;
    padding: 0 8px;
    background-color: #4d90fe;
    border: 1px solid #3079ed;
    color: #fff;
}

.appbar {
    color: #d93025;
    font-size: 20px;
    margin: 25px 35px;
}

.navbar {
    
    box-sizing: border-box;
    padding: 8px;

    a {
        float: right;
        text-align: center;
        text-decoration: none;
        color: #333;
        padding: 14px 16px;
    }
    
}