$lightgrey: rgb(75, 75, 75);
$darkgrey: rgb(44, 44, 44);

.searchbar {
    border-radius: 50px;
    border-color: $lightgrey;
    border-style: solid;
    width: 500px;
    height: 10px;
    background-color: $darkgrey;
    padding: 15px;
    outline: none;
    color: white;
}

.searchbar:hover {
    background-color: $lightgrey;
}

.button {
    background-color: $lightgrey;

}